<nav>
    <div>
        <ul>
            <li><a class="current" href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/resume">Resume</a></li>
            <li><a href="https://github.com/francisChigozie" target="_blank">Blog</a></li>
            <li><a href="https://franciswebapp.onrender.com/contact">Contact</a></li>
        </ul>
    </div>
</nav> 