<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
    <header id="header" class="navbar top">

        <%- include('./partials/nav.ejs') %>
    </header><br>
    <h1 class="about">Developer Story</h1>
    
    <div id="about">
        <a href="/"><img src="../image/frank.jpg" alt="Secon Picture" class="about-img"
                title="Mr. Francis Chigozie"></a>

                <p class="meta">
                    <i class="fas fa-user"></i> Posted by <strong>Jane Doe</strong> | November 25 2021
    
        <div class="about">
            
                <div>
                    <p>
                        My name is Chigozie Francis.I have a National
                        Higher Diploma in Computer Science.I speak English fluently
                        and German well enough to communicate and understand you
                        (" fließend ").
                        After the last covid-2019 experience, I have witnessed how
                        helpful the Internet was to people during the lock-downs.
                        I have taken some University-courses about Web Interface
                        Design and I have received professional training (Coding Boot Camp) to
                        becoming a Web and App Developer.</p>
                </div>
                    <br><br> <br>
            

                <a href="https://github.com/francisChigozie" ><strong>Visit My Github</strong></a>
    
        </div><br><br>
    
    </div>
    </body>
    
    <%- include('./partials/foot.ejs') %>
    
    <script src="../js/ledger.js"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>
