<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %>

<body>
    <header id="header" class="navbar top">

        <%- include('./partials/nav.ejs') %>
        
    </header>

     <img src="./image/chigo_berlin.jpg" alt="servers as logo" width="300" 
      class="logo" title="Mr. Chigozie Francis">
    
  <div>
    <div>

        <div id="container" class="container">
            <div class="">
      
              <!--  Page 1 -->
                  <section id="page-1" class="page"><br><br>
                  
                   <h1>Front End</h1><br>
                          <div class="main-circle">
      
                              <div class="project bta">
                                    <a href="https://fcblogpost01.herokuapp.com/sass"><br>
                                        <h3><br> SASS<br> Portfolio</h3>
                                    </a>
                              </div>
      
                              <div class="project  bta">
                                  <a href="/hotelHomePage"><br>  <!-- https://designed-hotel.netlify.app -- later -->
                                      <h3><br> Hotel<br> Lounge</h3>
                                  </a>
                              </div>
                      
                              <div class="project bta">
                                  <a href="/frankfurt"><br>
                                      <h3><br> Frankfurt<br> Ledger</h3>
                                  </a>
                              </div>
                      
                              <div class="project bta">
                                  <a href="https://fcblogpost01.herokuapp.com/blogs"><br>
                                      <h3><br> Blog<br> Post</h3>
                                  </a>
                              </div><br><br>
                      
                              <div class="project bta">
                                  <!-- https://websitecotentful.netlify.app-->
                                  <a href="/hambuger"><br>
                                      <h3> <br> Hambuger<br><br> Menu</h3>
                                  </a>
                              </div>
                      
                              <div class="project bta">
                                  <a href="/knowledge"><br>
                                      <h3><br> knowledge<br> Resume</h3>
                                  </a>
                              </div>
                      
                              <div class="project bta">
                                  <a href="/calculate"><br>
                                      <h3><br> Loan<br> Calculator</h3>
                                  </a>
                              </div>
                      
                              <div class="project bta">
                                  <a href="/satdesign"><br>
                                      <h3><br> Other<br> Designs</h3>
                                  </a>
                              </div>
                       </div>
                  </section> <br><br><br>
      
                  <!-- Page-2 -->
                  <section id="page-2" class="page">
                      <h1>Single Page Applications - SPA's</h1><br><br>
                  
                     <!--  <div id="back-end" class="main-circle">
                          <div class="project bta">
                              <a href="https://websitecotentful.netlify.app/create"><br>
                                  <h3><br> CRUD<br> Mongo Data Base</h3>
                              </a>
                          </div> -->
                  
                          <div class="project bta">
                              <a href="https://lauresearch.netlify.app">
                                  <h3><br> Github Users<br> Finder</h3>
                              </a>
                          </div>

                          <br><br>

                          <div class="project bta">
                            <a href="/guess"><br>
                                <h3><br> Number<br> Guesser Game</h3>
                            </a>
                          </div>

                          <div class="project bta">
                            <a href="https://contactclientkeeper.netlify.app/"><br>
                                <h3><br> Customer <br> Contact Keeper</h3>
                            </a>
                        </div>
                  
                          <!-- <div class="project bta">
                              <a href="https://log-it-staff.netlify.app"><br>
                                  <h3><br>IT<br> System Logger</h3>
                              </a>
                          </div>
      
                          <div class="project bta">
                              <a href="/ooprog"><br>
                                  <h3><br> O-O-P Backends<br>Versions</h3>
                              </a>
                          </div> -->
      
                      </div> <br><br>
                  
                      <div id="btn">
                          <a href="#page-1" class="btn">
                              <i class="fas fa-arrow-circle-up"></i>
                          </a>
                      </div> <br><br>
                  </section>

                  <!-- Page-3 -->
                  <section id="page-3" class="page">
                    <h1>Backend Java Enterprise Application - REST API's</h1><br><br>
                
                    <div id="back-end" class="main-circle">
                        <div class="project bta">
                            <a href="https://websitecotentful.netlify.app/create"><br>
                                <h3><br> Online<br> Media Shop</h3>
                            </a>
                        </div>
                        
                        <div class="project bta">
                            <a href="https://contactclientkeeper.netlify.app/"><br>
                                <h3><br> Frank Tech<br> Coding School</h3>
                            </a>
                        </div>
                
                       
                    </div> <br><br>
                
                    <div id="btn">
                        <a href="#page-1" class="btn">
                            <i class="fas fa-arrow-circle-up"></i>
                        </a>
                    </div> <br><br>
                </section>

                 <!-- Footer Section -->
                  <div>
                      <%- include('./partials/footer.ejs') %>
                  </div>
      
            </div>
        </div>
         
    </div>
  </div>


 
    <script src="../js/main.js"></script>

    <script src="../js/ledger.js"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>
<!--
    https://websitecotentful.netlify.app/tocook"
-->