
<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
    <header id="header" class="navbar top">

        <%- include('./partials/nav.ejs') %>

    </header><br>
     <div id="resume">
         <div class="container-resume"><br><br>
            <h1 class="resume">Professional Software Development Certificates [PSDC]</h1>
              <br><br>
            <main>
                <div class="resume-main">
            
                    <img src="../image/Cert_IronHack.jpg" alt="Iron Hack School" class="resume-img" 
                    width="600">
                    <br>

                    <img src="../image/WBS CERTIFICATE (2).jfif" alt="WBS coding School" class="resume-img"
                          width="600">
                    <br>  

                    <img src="../image/deepdive_cert.jpeg" alt="WBS coding School" class="resume-img" width="600">
                    
                    <br>

                    <img src="../image/DIPLOMA INFORMATIK.jfif" alt="Diplom Computer Science" class="resume-img"
                          width="600">

                </div>
            </main>
            <br>
            <a href="/" class="back">Back</a>
         </div>
     </div>
</body>

<%- include('./partials/footer.ejs') %>

<script src="../js/ledger.js"></script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>