<!DOCTYPE html>
<html lang="en">

    <%- include('./hotelhead.ejs') %>

    <body>
        <header>

            <%- include('./hotelnav.ejs') %>
            
        </header>
    <section id="about-info" class="bg-light py-3">
        <div class="container">
            <div class="info-left">
                <h1 class="l-heading"><span class="text-primary">About </span> Hotel Lounge</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam, itaque praesentium ex harum facilis tempora similique quaerat provident, veritatis eum dolorum. Magnam excepturi 
                    quisquam tempore? Eius doloremque incidunt ab aliquid!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore nihil dolor corrupti tempore 
                        quo eos, quibusdam dignissimos accusantium ea sint?</p>
            </div>
            <div class="info-right">
                <img src="../img/best_hotel.jpg" alt="hotel">
            </div>
        </div>
    </section>

    <div class="clr"></div>

    <section id="testimonial" class="py-3">
        <div class="container">
            <h2 class="l-heading">What Our Guest Say</h2>
            <div class="testimonial bg-primary">
               <img src="../img/merci_lady.jpg" alt="Lady merci">
               <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, itaque aut eum sed eligendi natus voluptatibus corrupti minus. Consequuntur et, iusto 
                   quidem nemo eum labore soluta ipsa magnam tenetur atque.</p>
            </div>
            <div class="testimonial bg-primary">
                <img src="../img/lady_brown.jfif" alt="Lady brown">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, itaque aut eum sed eligendi natus voluptatibus corrupti minus. Consequuntur et, iusto 
                    quidem nemo eum labore soluta ipsa magnam tenetur atque.</p>
             </div>
        </div>
    </section>

<div>
    <footer id="main-footer">
        <p>Hotel Lounge &copy; 2021, All Rights Reserved</p>
    </footer>
</div>
</body>
</html>