<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="welcome to the most extraordinary hotel in Heilbronn Bäden-württenberg">
    <meta name="keywordy" content="hotel,heilbronn,baden-württenberg">
    <script src="https://kit.fontawesome.com/d5be46b1b4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/hotel.css">
    <link rel="stylesheet" media="screen and (max-width: 768px)" href="../css/mobile.css">
    <title>Hotel | <%= title %></title>
</head>