<nav id="navbar">
    <div class="container">
        <h1 class="logo"><a href="/hotel">HL</a></h1>
    <ul>
        <li><a class="current" href="/hotel">Home</a></li>
        <li><a class="about" href="/hotelabout">About</a></li>
        <li><a class="#" href="/hotelcontact">Contact</a></li>
    </ul>
    </div>
</nav>