<nav id="navbar">
    <div class="container">
        <h1 class="logo"><a href="/hotelHomePage">HL</a></h1>
    <ul>
        <li><a class="current" href="/hotelHomePage">Home</a></li>
        <li><a class="about" href="/hotelAbout">About</a></li>
        <li><a class="#" href="/hotelContact">Contact</a></li>
    </ul>
    </div>
</nav>