<!DOCTYPE html>
<html lang="en">

<%- include('./oophead.ejs') %>

<body>
    <header id="header" class="navbar top">

        <%- include('./oopnav.ejs') %>

    </header>
    <!--  DevOP -->
    <section id="page-1" class="page">
    
        <div class="container">
    
         <div class="main-circle">
              <div>   <br><br><br><br>

                <div class="project bta">
                    <a href="./java">
                        <h3><br> Java<br> Programming</h3>
                    </a>
                </div>

                <div class="project bta">
                    <a href="./python">
                        <h3><br> Python<br> Programming</h3>
                    </a>
                </div>

                <div class="project bta">
                    <a href="./node" class="circle">
                        <h3><br> Node<br> JavaScript</h3>
                    </a>
                </div>
                
                
                <!-- <div id="back-end" class="main-circle">
                    <div class="project bta">
                        <a href="https://websitecotentful.netlify.app/create"><br>
                            <h3><br> CRUD<br> Mongo Data Base</h3>
                        </a>
                    </div>
               </div>    --> 
        </div>
         </div>
         <br><br>

         <%- include('./oopfooter.ejs') %>
</body>

</html>
<!--
    https://display-portfolio.netlify.app
-->