
<!DOCTYPE html>
<html lang="en">

<%- include('./oophead.ejs') %>

<body>
    <header id="header" class="navbar top">

        <%- include('./oopnav.ejs') %>

    </header><br>
     <div id="resume">
         <div class="container-resume"><br><br>
            <h1 class="resume">Python Programming</h1>
              <br><br>
            <main>
                <div class="resume-main">
                    <h3>Development project in progress</h3>
                    <br>
                    <!-- <img src="/public/image/WBS CERTIFICATE (2).jfif" alt="WBS coding School" class="resume-img"
                          width="600">
                    <br>
                    <img src="/public/image/deepdive_cert.jpeg" alt="WBS coding School" class="resume-img" width="600"><br> -->
                </div>
            </main>
            <br>
            <a href="./ooprog" class="back">Back</a>
         </div>
     </div>
</body>
<%- include('./oopfooter.ejs') %>
</body>

</html>